
    section{
        border: 2px solid red;
        display: flex;
        justify-content: center;
    }
    div{
        border: 2px solid rgb(0, 163, 74);
        height: 100px;
        width: 50%;
        background-color: rgba(128, 212, 3, 0.258);
        text-align: center;
    }
